# Introduction to Python

In [ ]:
s1 = 'python '
s2 = 'programming'
print('concatenation:',s1 + s2)

In [ ]:
# print('Hello "All" ')
#print("Hello World !!")
#print('Hello All')
#print("Hello 'All'")
print('Hello \n All')

In [ ]:
a = 10.4
print(type(a))

In [ ]:
a = 10
b = 20.2
c = 'hello'
print(a,b,c)

## Arithematic Operator

In [ ]:
a,b = 5,2
print('a+b:',a+b)
print('a-b:',a-b)
print('a*b:',a*b)
print('a/b:',a/b) # divide
print('a//b:',a//b) # int quotient
print('a%b:',a%b) # modulo for remainder
print('a**b:',a**b) # a^b

## Comparision Operator

In [ ]:
a,b = 10,20
print('a==b:',a==b)
print('a>b:',a>b)
print('a<b:',a<b)
print('a>=b:',a>=b)
print('a<=b:',a<=b)
print('a!=b:',a!=b)

## Logical Operator

In [ ]:
a= 10 
b=20
print((a>b) or (a>10)) # logical OR
print((a>b) and (a>10)) # logical AND

## Bitwise Operator

In [ ]:
x = 11 # 1011
y = 3 # 0011

print(x & y) # and
print(x | y) # or
print(x << 2) # left shift
print(x >> 2) # right shift

## Membership Operators

In [ ]:
# in , not in
# to check wheather items/value/element are present or not
a = [1,2,3,4]
print(5 in a)

In [ ]:
s1 = 'python'
print(len(s1))
print(min(s1))
print(max(s1))
s1.upper()
s1.lower()

In [ ]:
x = 5
y = 3
x,y = y,x
print(x,y)

## Find & Replace

In [ ]:
s1 = 'python'
s2= 'Hi'
print(s1.find('thon')) # to find the string
print(s1.count('o')) # to count the number of occurence
print(s1.replace('thon','THON')) # to repalce a string
print(s1.find('y')) # to find the specfic location
print(s1.count('o',0,2)) # to count in the specific range
print(s1==s2) # to compare two string
print()

## Repetition

In [ ]:
x = 'python'
x*3

In [ ]:
x = [2,4]
x*2

In [8]:
r = [9,4,3]
s = [4,5]

#r.extend(s) # to extend a list
#r.append(7) # to add a element in a list
#r.reverse() # to reverse a list
#r.sort() # to sort a list
#r.insert(1,10) # inserting at specific location
print(sum(r)) # to find the sum of a list
print(r)

16
[9, 4, 3]

In [13]:
x = 'python'
print(min(x))
print(sorted(x))
print(len(x))

y = ['oranges','banana','Apple']
print(min(y))
print(sorted(y))
print(len(y))

h
['h', 'n', 'o', 'p', 't', 'y']
6
Apple
['Apple', 'banana', 'oranges']
3

## Slicing

In [17]:
str = 'Hello World!'  # A string

print(str)          # Prints complete string
print(str[0])       # Prints first character of the string
print(str[2:5])     # Prints characters starting from 3rd to 5th
print(str[2:])      # Prints string starting from 3rd character
print(str[:2])      # Prints string upto a specific range
print(str * 2)      # Prints string two times
print(str + "TEST") # Prints concatenated string
print(str[::-1])     # Reverse a string
print(str.lower())   # lower-case
print(str.upper())   # upper-case

Hello World!
H
llo
llo World!
He
Hello World!Hello World!
Hello World!TEST
!dlroW olleH
hello world!
HELLO WORLD!

In [19]:
#string
x = 'Data Science'
print(x[1])

#list
x = ['Full Stack','BI','Cloud']
print(x[1])

a
BI

In [22]:
#string
x = 'Full ' + 'Stack'
print(x)

#list
x = ['Full', 'Stack'] + ['Mean']
print(x)

Full Stack
['Full', 'Stack', 'Mean']

In [25]:
#string
x = 'Hello ' * 3
print(x)

#lists
x =  ['Full', 'Stack'] * 2 
y = ['Mean'] * 2
print(x)

Hello Hello Hello
[2, 3, 2, 3]

In [30]:
x = [2,3,4]
for element in x:
        print(element * 2)

4
6
8

In [31]:
#string
x = 'Hello ' 
print(x.count('o'))

#lists
x =  ['Full Stack', 'Data Science','BI'] 
print(x.count('BI'))

1
['Full Stack', 'Data Science', 'BI']

In [32]:
#string
x = 'Hello ' 
print(x.index('o'))

#lists
x =  ['Full Stack', 'Data Science','BI'] 
print(x.index('BI'))

4
2

In [36]:
x =  ['Full Stack', 'Data Science','BI'] 
x = a,b,c 
print(a)

Full Stack

In [37]:
x = [1,2,3,4]
x.insert(1,0)
print(x)

[1, 0, 2, 3, 4]

In [38]:
#sets (will not allow duplicate values)
x = {2,3,2}
print(x)

{2, 3}

In [45]:
#dictionary
x = {'Suresh':9,'Mahesh':8.4,'Naresh': 7.7,'Suresh':8}
#x.keys()
x.values()
#x.items()
del x['Suresh']

dict_values([8, 8.4, 7.7])

In [47]:
#string
x = 'Hello'
print(len(x))

#list
x = ['full stack','data science']
print(len(x))

#string
x = 'Ab'
print(min(x))

#list
x = ['full stack','data science']
print(min(x))


#sum
x=[2,2,2]
print(sum(x))

#sorting
x= 'hello'
print(sorted(x))

x = ['full stack','data science']
print(sorted(x))

#count(item)
x='hello'
print(x.count('l'))

x = ['data science','full stack','data science']
print(x.count('data science'))

x='hello'
print(x.index('l'))

x = ['data science','full stack','data science']
print(x.index('data science'))

x = ['data science','full stack','data science']
a,b,c = x
print(b)

x = [1,2,3]
del(x[0])

x = [1,2,3,4]
x.append(5)
print(x)

x = [1,2,3,4]
x.insert(1,0)
print(x)

x = [1,2,3,4]
print(x.pop())
print(x)

x = [1,2,3]
x.remove(1)
print(x)

x = [1,2,3]
x.reverse()
print(x)

x = [8,7,3]
x.sort()
print(x)

## Tuples

#x = (1,2,3,4)
#del(x[1])

#x = (1,2,3,4)
#x.insert(1,8)

x = ([1,2],3)
del(x[0][1]) 
print(x)

##Sets

x = {3,2,3,2}
print(x)

x={1,2}
x.add(3)
print(x)
len(x)

x={1,2,3}
x.pop()
print(x)

x.clear()
print(x)

{1,2} & {2,3}

##Dictionary

x = {'Suresh':8.99, 'Mahesh':8.23, 'Ramesh':7.77 }
x['Suresh']=9
print(x)

del x['Suresh']

len(x)

print('Mahesh'in x)

x.clear()
print(x)

del(x)

x = {'Suresh':8.99, 'Mahesh':8.23, 'Ramesh':7.77 }
x.keys()
x.values()
x.items()

x.update({'Jayesh':8})

5
2
A
data science
6
['e', 'h', 'l', 'l', 'o']
['data science', 'full stack']
2
2
2
0
full stack
[1, 2, 3, 4, 5]
[1, 0, 2, 3, 4]
4
[1, 2, 3]
[2, 3]
[3, 2, 1]
[3, 7, 8]
([1], 3)
{2, 3}
{1, 2, 3}
{2, 3}
set()
{'Suresh': 9, 'Mahesh': 8.23, 'Ramesh': 7.77}
True
{}

In [ ]:
#string
x = 'python'
print('y' in x)

#list
x = ['Hi', 'How', 'Are' 'You']
print('Hi' not in x)